@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'mixins';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 50, 50, 50;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.hero-section {

  min-height: 800px;
}

.about-section {
  min-height: 800px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;

}

.richTextWrapper {
  @include media(gt-small) {
    padding-right: 20px;

  }



  h1,
  h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;

  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;

    @media screen and (max-width: 820px) {
      font-size: 1.2rem;

    }
  }
}

@media screen and (max-width: 820px) {
  .hero-section {
    height: 300px;
  }
}

@media screen and (max-width: 414px) {
  .hero-section {
    height: 300px;
  }
}

.section {

  min-height: 800px;
}

@media screen and (max-width: 820px) {
  .section {
    min-height: 300px;
  }
}

@media screen and (max-width: 414px) {
  .section {
    min-height: 300px;
  }
}



.draw-stroke {
  stroke: #fff;
}

@include media(gt-md) {
  .burger {
    display: none !important;
  }
}

$max-width:1920px;
$grid-gap: 18px;
$columns:12;
$gaps: $columns+1;
$gaps-total: $gaps*$grid-gap;
$column-width: ($max-width - $gaps-total)/$columns;


.content-layout {
  display: grid;
  grid-template-columns: $grid-gap 1fr $grid-gap;

  @include media(gt-md) {
    column-gap: $grid-gap;
    grid-template-columns: $grid-gap repeat($columns, minmax(0, 1fr)) $grid-gap;
  }

  @include media(gt-xl) {
    grid-column-gap: $grid-gap;
    grid-template-columns: 1fr repeat($columns, $column-width) 1fr;

  }


}

.content-span {
  grid-column: 2/-2;
}

.main-nav {
  padding: 0px;
}

.main-menu {


  @include media(gt-md) {
    display: flex;

  }

}